@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-ieee-blue: #00629b;
  --color-ieee-dark: #002855;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-inter: "Inter", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

@utility no-scrollbar {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

/* Custom styles for prose if needed, although Tailwind typography handles it usually */
prose {
  color: var(--foreground);
}
